<a href="https://colab.research.google.com/github/wndgua0468/machine_learning/blob/main/%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5_4%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/data_ex.csv")

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.sample(5, random_state=1)

In [ ]:
df.sample(frac=0.3)

In [ ]:
df.count()

In [ ]:
df['AGE'].sum()

In [ ]:
##수치형 데이터의 기술 통계량
df.describe()

In [ ]:
##범주형 데이터 (unique:#범주형 데이터 수)  (freq(frequency):출현횟수)
df[['SEX', 'AREA']]. describe()

In [ ]:
##범주형 데이터의 고유한 종류
df['SEX'].unique()

In [ ]:
df['AREA'].unique()

In [ ]:
df['SEX'].value_counts()

In [ ]:
df['AREA'].value_counts()

In [ ]:
df['AGE'].sort_counts()

In [ ]:
age = df["AGE"].values.tolist()
age

In [ ]:
age = df["AGE"].values.tolist()
plt.hist(age, bins = 50)
plt.ylim([0,3])
plt.xlabel("age")
plt.ylabel('Num')

In [ ]:
sex = df["SEX"].values.tolist()
plt.hist(sex)
plt.ylim([0,10])
plt.xlabel("SEX")
plt.ylabel('Num')

In [ ]:
##그룹화
grouped_sex=df.groupby("SEX")
print(grouped_sex)

In [ ]:
for key, value in grouped_sex:
  print("key :", key)
  print("value :", value)

In [ ]:
df.groupby("SEX")

In [ ]:
df.groupby("SEX").sum()

In [ ]:
df["중년"] = df["AGE"] > 49
df

In [ ]:
def age_name(Age):
  name = ''
  if Age <= 25 : name = '사회초년생'
  elif Age <= 35 and Age < 25 : name = "사회생활 1~10년차"
  elif Age <= 45 : name = "관리자 역할"
  else : name = "은퇴 예정자"
  return name

In [ ]:
file = "/content/chipotle.tsv"
chipo = pd.read_csv(file, sep ="\t")
print(chipo.shape)
print("_______________________________")
print(chipo.info())
print("_______________________________")

가장 많이 주문한 메뉴 top10 출력력

In [ ]:
item_count = chipo['item_name'].value_count()
item_count

가장 많이 주문한 메뉴 top10 출력력

In [ ]:
item_name_10 = chipo['item_name'].value_counts()[:10]
print(item_name_10)

In [ ]:
for idx, (item, value) in enumerate(item_name_10.items(), 1):
  print("Top {} : {} {}".format(idx,item, value))

In [ ]:
for idx, (item, value) in enumerate(item_name_10.items(), 1):
  print("Top {} : {}".format(idx,value))

In [ ]:
##hist(list명)그리기
item_name = chipo['item_name'].value_counts()
plt.hist(item_name, bins=30)
plt.xlabel("ordered_item_name")
plt.ylabel("ordered_item_count")
plt.show()

2. 아이템 별 주문수량 분석석

아이템당 주문 개수와 총량 구하기

시각화(bar)

In [ ]:
item_quantity = chipo.groupby('item_name')['quantity'].count()
item_quantity

In [ ]:
##x축으로
item_quantity.index

In [ ]:
##y축으로
item_quantity.values

In [ ]:
item_quantity_index = item_quantity.index.tolist()
len(item_quantity_index)

In [ ]:
x= np.arange(len(item_quantity_index))
x

In [ ]:
item_price_values = item_price.values.tolist()

In [ ]:
order_cnt= item_quantity.values.tolist()
print(order_cnt)

In [ ]:
##bar(x,y)
plt.bar(x,order_cnt)
plt.xlabel("item_name")
plt.ylabel("order_count")
plt.title("Distribution of all Ordered item")
plt.show()

3.주문당 평균 주문 금액 계산

-10달러 이상 주문한 주문 번호 출력
-아이템별 주문 금액 분포도도

In [ ]:
chipo.head()

In [ ]:
chipo.info()

In [ ]:
##item_price를 수치형으로 변환
chipo['item_price'] = chipo['item_price'].apply(lambda x : float(x[1:]))

In [ ]:
##주문번호당 평균금액 계산
item_price = chipo.groupby('order_id')['item_price'].sum()
item_price

In [ ]:
##hist()그리기
plt.hist(item_price,bins =30)
plt.xlim([0,130])
plt.xlabel('item_price')
plt.ylabel('price_count')
plt.show()

In [ ]:
item_price_values = item_price.values.tolist()

In [ ]:
plt.bar(x,item_price_values)
plt. xlabel('order_id')
plt. ylabel('item_price')
plt.ylim([0,100])
plt.title('distribution of item price')
plt.show()

In [ ]:
##4주차 과제